.mainLabel {
  margin-left: 5%;
}
.columnLL {
    flex: 0.7;

}
.columnRR {
    flex: 0.3;
}
.paymentMethodItems, .shippingItems {
  margin-left: 15%;
  font-size: 11pt;
}
.shippingSection {
  align-items: center;
  background-color: #f0f0f0;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  /* display: flex; */
  height: 20px;
  /* justify-content: center; */
  margin-left: 10%;
  width: 82%;
  margin-bottom: 5%;
  padding-top: 2%;
}
.paymentSection {
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  display: flex;
  height: 200px;
  /* justify-content: center; */
  margin-left: 10%;
  width: 82%;
  margin-bottom: 2%;
}
.shippingHeader {
  flex: 0.3;
  margin-left: 5%;
}
.shippingBody {
  flex: 0.6
}
.shippingItems, .paymentMethodItems {
  font-family: Roboto;
}
/* .fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
  background-color: #e6e6e6;
  border-width: 0px;
}
.fields input {
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color: #e6e6e6;
  padding:20px 10px 20px 5px; */



hr.solid {
  border-top: 2px solid #bbb;
}
/***** Divider *****/

.divider-line-x {
    /* position: relative; */
    text-align: center;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #ccc;
    width: 50%;
    /* margin-left: 8%; */
    margin-bottom: 20px;
    margin-top: 20px;
}

.divider-line-x span {
    position: relative;
    top: 10px;
    padding: 0 25px;
    background: #f0f0f0;
    font-family: Roboto;
    font-size: 10pt;
}

.newFormRow  {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.row {
  display: flex;
}

.columnL {
  flex: 0.5;

}
.columnLForm {
  flex: 0.5;
  margin-right: 50px;
}
.columnFullForm {
  flex: 1;
}
.columnR {
  flex: 0.5;
}
.columnRForm {
  flex: 0.5;
}
