.MyForm {
    text-align: center;
}
.innerForm {
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
}
.inputField {
    margin-bottom: 10px;
}
.springInput {
    padding: 8px;
    border-radius: 0.75em;
    border-color: darkgray;
}