/* Define Colors */
.color--theme {
  color: #e59285; }
.color--light {
  color: #999999; }
.color--dark {
  color: #333444; }
.color--black {
  color: #000000; }
.color--white {
  color: #ffffff; }

/* ------------------- Overall definitions -------- */
h2 {
    font-family: Poppins;
    font-size: 25px;
    text-transform: uppercase;
}
header {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}


/* -------------------- Fonts ------------------ */
.indexText {
  font-family: "Roboto", sans-serif;
}

.row {
  display:flex;
  margin-right:-15px;
  margin-left:-15px;
}


/*----------------------------- nav bar --------------------------*/
.sticky_header {
  height: 80px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
  background-color: white;
    z-index: 1;
}
.menuItems ul {
  position: fixed;
  top: 0;
  width: 80%;
  list-style-type: none;
  margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;

}
.menuItems li {
  float: left;
}
.menuItems li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 12pt;
  padding: 14px 16px;
  text-decoration: none;
}
.menuItems li a:hover:not(.active, .adminFlair) {
  background-color: #d5805d;
  color: white;
}
.menuItems li a:hover:not(.drop, .adminFlair) {
  background-color: #d5805d;
  color: black;
}
.menuItems .active, .dd-btn {
  background-color: #d5805d;
  color: white;
}
.dd-btn {
    cursor: pointer;
    background-color: #d5805d;
    color: white;
    border: none;
}
#dd {
    position: relative;
    display: inline-block;
}
.dd-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dd-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dd-content a:hover {background-color: #f1f1f1;}
#dd:hover .dd-content { display: block; }


/*--------------------- index page --------------------------*/
.indexImage {
    position: relative;
    text-align: center;
    color: white;
}
.indexImage .bigBoy {
  max-width: 100%;
  padding-top: 70px;
}
.indexText {
  font-size: 15px;
  margin: auto;
  text-align: center;
    padding-top: 20px;
}
.indexBook {
    padding: 10px;
    margin: 20px;
    border-color: #333444;
    /*border-style: groove;*/
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.15);
    width: 20%;
}
.cover {
    box-shadow: 0 8px 15px 5px rgba(0, 0, 0, 0.3);
}
.bigBoy {
    z-index: 0;
}
.bodytext {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    background-color: #fff;
    text-align: center;
}

/* ----------------- login page ------------------ */
#login fieldset {
    border-color: RoyalBlue;
    border-style: solid;
    width: 400px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 135px;
}
#login fieldset legend {
    font-size: 120%;
    padding-bottom: 10px;
    color: RoyalBlue;
}
#login label {
    margin-left: 0;
    float: left;
    text-align: right;
    width: 5.7em;
    font-size: 94%;
}
#login input {
    margin-left: .5em;
    width: 17em;
    margin-bottom: 10px;
}
#login_submit {
    margin-left: 95px !important;
}
.login_fail {
    color: red;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 7px;
    font-size: 90%;
}

/* ----------------- ---- footer  ---  ------------------ */
.footerBody {
  margin: 0px auto;
  padding-left: 50px;
  padding-right: 100px;
  width: 80vw;
  background-color: #f6f6f6;
}
.footerLogoText {
  padding: 30px 0;
  text-align: center;
}
.footer__content {
    float: right;
  padding: 30px 0;

text-align: center;
}


/* ----------------- ---- cart  ---  ------------------ */
.cartMainBody {
  padding-top: 100px;
}
#cartTable tr {
    padding: 20px;
}
p #cartName {
    text-align: center;
}
.addToCart td, th, tr {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border-bottom: #F0F0F0 1px solid;
}
p, #qty {
    text-align: center;
    padding-top: -10px;
}
.addToCart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 100%;
    font-size: 0;
    text-align: center;
}
#cart_square {
    /* border: red solid 1pt; */
    width: 70px;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
#cartImage {
    margin: auto;
    max-width: 70px;
    height: auto;
    max-height: 70px;
}
table {
    margin: 0 auto;
}
table td {
    border-bottom: #F0F0F0 1px solid;
}
strong #total {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#checkoutButton {
    margin: 20px;
    margin-bottom: 20px;
    text-align: center;
}
